<div class="landing-page container image">
    <div class="landing-page middle-container">
        <div class="landing-page title-container">
            <h3 class="landing-page first-title">Grøn,</h3>
            <h3 class="landing-page first-title">Grønnere,</h3>
            <h3 class="landing-page first-title">Grøntsag</h3>
        </div>
        <div class="landing-page action-container">
            <button mat-flat-button color="primary">Kom ind i varmen</button>
        </div>
    </div>
</div>